//
//  Copyright © 2018 Gnosis Ltd. All rights reserved.
//

#include "CommonConfig.xcconfig"
// secp256k1 and crypto libs are required for CryptoEthereumSwift, which is required for EthereumKit
OTHER_LDFLAGS = $(inherited) -lMultisigWalletDomainModel -lMultisigWalletApplication -lsqlite3 -lsecp256k1 -lcrypto -lCommonImplementations
