[submodule "CryptoSwift"]
	path = Dependencies/CryptoSwift
	url = https://github.com/krzyzanowskim/CryptoSwift.git
[submodule "EthereumKit"]
	path = Dependencies/EthereumKit
	url = https://github.com/yuzushioh/EthereumKit.git
        #url = https://github.com/gnosis/EthereumKit.git
[submodule "RSBarcodes"]
	path = Dependencies/RSBarcodes
	url = https://github.com/yeahdongcn/RSBarcodes_Swift.git
[submodule "Dependencies/BigInt"]
	path = Dependencies/BigInt
	url = https://github.com/attaswift/BigInt.git
[submodule "Dependencies/CryptoEthereumSwift"]
	path = Dependencies/CryptoEthereumSwift
	url = https://github.com/yuzushioh/CryptoEthereumSwift.git
[submodule "Dependencies/SipHash"]
	path = Dependencies/SipHash
	url = https://github.com/attaswift/SipHash.git
[submodule "BlockiesSwift"]
	path = Dependencies/BlockiesSwift
	url = https://github.com/gnosis/BlockiesSwift.git
[submodule "Kingfisher"]
	path = Dependencies/Kingfisher
	url = https://github.com/onevcat/Kingfisher.git
[submodule "DateTools"]
	path = Dependencies/DateTools
	url = https://github.com/gnosis/DateTools.git
[submodule "Starscream"]
	path = Dependencies/Starscream
	url = git@github.com:daltoniam/Starscream.git
