[submodule "CryptoSwift"]
	path = Dependencies/CryptoSwift
	url = https://github.com/krzyzanowskim/CryptoSwift.git
[submodule "EthereumKit"]
	path = Dependencies/EthereumKit
	url = https://github.com/yuzushioh/EthereumKit.git
[submodule "RSBarcodes"]
	path = Dependencies/RSBarcodes
	url = https://github.com/yeahdongcn/RSBarcodes_Swift.git
[submodule "Dependencies/BigInt"]
	path = Dependencies/BigInt
	url = https://github.com/attaswift/BigInt.git
[submodule "Dependencies/CryptoEthereumSwift"]
	path = Dependencies/CryptoEthereumSwift
	url = https://github.com/yuzushioh/CryptoEthereumSwift.git
